<blockquote style="border-color: #ec0101; margin-top: 1rem;">
    <p>
        Het Dataplatform van gemeente Amsterdam gaat het gebruik van een API key bij het gebruik van API's verplicht stellen.
        Hiermee wil het Dataplatform inzicht krijgen wie gebruik maakt van haar APIs,
        zodat het Dataplatform kan communiceren over updates en wijzigingen in de API's.
        Eventuele wijzigingen in de API's kunnen dan tijdig geïmplementeerd worden in uw systemen.
        Dit gaat gelden voor alle zogenaamde 'DSO API's' van het Dataplatform van gemeente Amsterdam.
    </p>

    <p>
        Het gebruik van een API key bij de aanroep van een API van het Dataplatform van gemeente Amsterdam is vanaf half september optioneel.
        In overleg met de dataorganisatie wordt een deadline vastgesteld voor het moment vanaf wanneer de API keys verplicht worden.
        U kunt de API's van het Dataplatform dan niet meer gebruiken zonder een API key mee te geven.
    </p>

    <p><em>Dit heeft gevolgen voor uw systemen!</em></p>

    <p>
        Vraag tijdig een API key aan om uw systemen hierop aan te passen.
        <a href="{{ apikey_register_url|default:'https://keys.api.data.amsterdam.nl/clients/v1/' }}">U kunt met dit formulier een API key aanvragen</a>.
    </p>
</blockquote>
