{% extends "rest_framework/base.html" %}
{% comment %}
  This template extends the DRF base template with some javascript.

  Because DSOPaginator calculates page count during streaming,
  we setup the pagination links client-side after the page is loaded.

  The page data is not included in the template, instead we load the data in a separate ajax call.
  This improves responsiveness and makes rendering more efficient removing a
  potential DOS-attackvector for large datasets.
{% endcomment %}

{% load i18n rest_framework static %}
{% block title %} {% if name %}{{ name }} – {% endif %} Amsterdam Datadiensten {% endblock %}
{% block branding %}{% include "dso_api/dynamic_api/_branding.html" %}{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap-tweaks.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
    <link rel="stylesheet" href="https://static.amsterdam.nl/fonts/fonts.css">
    <link rel="stylesheet" type="text/css" href="{% static "dso_api/dynamic_api/css/browsable_api.css" %}"/>
{% endblock %}

{% block content %}
{% include "dso_api/dynamic_api/_apikey_banner.html" %}
<!-- MSAL CDN (v2.x; latest stable for browser globals as of 2026) -->
<script src="https://alcdn.msauth.net/browser/2.3.0/js/msal-browser.min.js"
        crossorigin="anonymous"
        integrity="sha384-o+Sncs5XJ3NEAeriM/FV8YGZrh7mZk4GfNutRTbYjsDNJxb7caCLeqiDabistgwW">
</script>

<div class="content-main" role="main"  aria-label="{% trans "main content" %}">
  <btn id="authorize-btn" class="btn btn-primary {% if not oauth_url %}disabled{% endif %}" onclick="authorize()">Authorize KeyCloak</btn>
  <btn style="margin-right: 5px;" id="authorize-btn" class="btn btn-primary {% if not oauth_authority_entra %}disabled{% endif %}" onclick="authorizeEntra()">Authorize Entra ID</btn>

  <div class="page-header">
    <h1>{{ name }}</h1>
    <h5>Bronhouder: {{ authorization_grantor|default_if_none:"Onbekend"}}</h5>
  </div>
  <div style="float:left">
    {% block description %}{{ block.super }}{% endblock %}
    {% if docs_url %}<p><a href="{{ docs_url }}">Documentatie</a></p>{% endif %}
  </div>
    <div class="region"  aria-label="{% trans "request form" %}">
    {% comment %}
      Add an id to the options button so we can override its behaviour.
      Delete form is removed, as we do not expose this method.
    {% endcomment %}
    <div id="request-settings-container" class="show-params">
    <div class="request-form-tabs">
      <div id="params-tab" class="request-form-tab params-tab" onclick="event.target.parentElement.parentElement.className='show-params'">Parameters</div><div class="request-form-tab headers-tab" onclick="event.target.parentElement.parentElement.className='show-headers'" id="headers-tab">Headers</div>
    </div>
    <pre style="box-sizing: border-box;clear:both;" id="request-params" class="request-settings"></pre>
    <pre style="box-sizing: border-box;clear:both;overflow:visible;" id="request-headers" class="request-settings"></pre>
    <div>
    {% block request_forms %}

    {% if 'GET' in allowed_methods %}
      <form id="get-form" class="pull-right">
        <fieldset>
          {% if api_settings.URL_FORMAT_OVERRIDE %}
            <div class="btn-group format-selection">
              <a id="get-button" class="btn btn-primary js-tooltip" href="{{ request.get_full_path }}" rel="nofollow" title="Make a GET request on the {{ name }} resource">GET</a>

              <button class="btn btn-primary dropdown-toggle js-tooltip" data-toggle="dropdown" title="Specify a format for the GET request">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                {% for format in available_formats %}
                  <li>
                    <a class="js-tooltip format-option" href="{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}" rel="nofollow" title="Make a GET request on the {{ name }} resource with the format set to `{{ format }}`">{{ format }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="btn-group format-selection">
              <a id="download-button" class="btn btn-primary js-tooltip" onclick="alert('dd')"  rel="nofollow" title="Make a GET request to download the {{ name }} resource">Download</a>

              <button class="btn btn-primary dropdown-toggle js-tooltip" data-toggle="dropdown" title="Specify a format for the GET request">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                {% for format in available_formats %}
                  <li>
                    <a class="js-tooltip download-format-option" href="{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}" rel="nofollow" title="Make a GET request on the {{ name }} resource with the format set to `{{ format }}`">{{ format }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% else %}
            <a id="get-button" class="btn btn-primary js-tooltip" href="{{ request.get_full_path }}" rel="nofollow" title="Make a GET request on the {{ name }} resource">GET</a>
          {% endif %}
        </fieldset>
      </form>
    {% endif %}

    {% if options_form %}
      <form class="button-form">
        <button id="options-button" class="btn btn-primary js-tooltip" title="Make an OPTIONS request on the {{ name }} resource">OPTIONS</button>
      </form>
    {% endif %}

    {% if extra_actions %}
      <div class="dropdown" style="float: right; margin-right: 10px">
        <button class="btn btn-default" id="extra-actions-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {% trans "Extra Actions" %}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="extra-actions-menu">
          {% for action_name, url in extra_actions|items %}
          <li><a href="{{ url }}">{{ action_name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if filter_form %}
      <button style="float: right; margin-right: 10px" data-toggle="modal" data-target="#filtersModal" class="btn btn-default">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        {% trans "Filters" %}
      </button>
    {% endif %}

    <nav id="page-container">
      <ul id="page-links" class="pagination">
        <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li class="hidden"><a href="">1</a></li>
        <li class="hidden"><a href="#"><span aria-hidden="true">…</span></a></li>
        <li class="hidden"><a href="#"></a></li>
        <li class="hidden"><a href="#"></a></li>
        <li class="active this-page"><a href="#"></a></li>
        <li class="hidden"><a href="#"></a></li>
        <li class="hidden"><a href=""></a></li>
        <li class="hidden"><a href="#"><span aria-hidden="true">…</span></a></li>
        <li class="hidden"><a href=""></a></li>
        <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
      </ul>
    </nav>
    {% endblock request_forms %}
    </div>

    <div id="request-info" class="request-info" style="clear: both" aria-label="{% trans "request info" %}">
      <pre ><b>{{ request.method }}</b> {{ request.get_full_path }}</pre>
    </div>

    <div id="response-info" class="response-info {% if response_formatter %}show-formatted{% else %}show-raw{% endif %}" aria-label="{% trans "response info" %}">
      <div class="response-tabs">
        <div class="tab response-tab raw-tab" onclick="event.target.parentElement.parentElement.className='show-raw'" id="raw-tab">Raw</div><div id="formatted-tab" class="tab response-tab formatted-tab {% if not response_formatter %}disabled{% endif %}" onclick="event.target.parentElement.parentElement.className='show-formatted'">Formatted</div>
      </div>
      <pre class="response-container" id="raw-response-container"><span class="meta nocode"><span id="response-headers"></span></span>
<span id="response-content">Retrieving data...</span></pre>
      <pre class="response-container" id="formatted-response-container">
<span id="formatted-response-content">Retrieving data...</span></pre>
    </div>
  </div>

  {% if display_edit_forms %}
    {% if post_form or raw_data_post_form %}
      <div {% if post_form %}class="tabbable"{% endif %}>
        {% if post_form %}
          <ul class="nav nav-tabs form-switcher">
            <li>
              <a name='html-tab' href="#post-object-form" data-toggle="tab">HTML form</a>
            </li>
            <li>
              <a name='raw-tab' href="#post-generic-content-form" data-toggle="tab">Raw data</a>
            </li>
          </ul>
        {% endif %}

        <div class="well tab-content">
          {% if post_form %}
            <div class="tab-pane" id="post-object-form">
              {% with form=post_form %}
                <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
                  <fieldset>
                    {% csrf_token %}
                    {{ post_form }}
                    <div class="form-actions">
                      <button class="btn btn-primary js-tooltip" title="Make a POST request on the {{ name }} resource">POST</button>
                    </div>
                  </fieldset>
                </form>
              {% endwith %}
            </div>
          {% endif %}

          <div {% if post_form %}class="tab-pane"{% endif %} id="post-generic-content-form">
            {% with form=raw_data_post_form %}
              <form action="{{ request.get_full_path }}" method="POST" class="form-horizontal">
                <fieldset>
                  {% include "rest_framework/raw_data_form.html" %}
                  <div class="form-actions">
                    <button class="btn btn-primary js-tooltip" title="Make a POST request on the {{ name }} resource">POST</button>
                  </div>
                </fieldset>
              </form>
            {% endwith %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if put_form or raw_data_put_form or raw_data_patch_form %}
      <div {% if put_form %}class="tabbable"{% endif %}>
        {% if put_form %}
          <ul class="nav nav-tabs form-switcher">
            <li>
              <a name='html-tab' href="#put-object-form" data-toggle="tab">HTML form</a>
            </li>
            <li>
              <a  name='raw-tab' href="#put-generic-content-form" data-toggle="tab">Raw data</a>
            </li>
          </ul>
        {% endif %}

        <div class="well tab-content">
          {% if put_form %}
            <div class="tab-pane" id="put-object-form">
              <form action="{{ request.get_full_path }}" data-method="PUT" enctype="multipart/form-data" class="form-horizontal" novalidate>
                <fieldset>
                  {{ put_form }}
                  <div class="form-actions">
                    <button class="btn btn-primary js-tooltip" title="Make a PUT request on the {{ name }} resource">PUT</button>
                  </div>
                </fieldset>
              </form>
            </div>
          {% endif %}

          <div {% if put_form %}class="tab-pane"{% endif %} id="put-generic-content-form">
            {% with form=raw_data_put_or_patch_form %}
              <form action="{{ request.get_full_path }}" data-method="PUT" class="form-horizontal">
                <fieldset>
                  {% include "rest_framework/raw_data_form.html" %}
                  <div class="form-actions">
                    {% if raw_data_put_form %}
                      <button class="btn btn-primary js-tooltip" title="Make a PUT request on the {{ name }} resource">PUT</button>
                    {% endif %}
                    {% if raw_data_patch_form %}
                    <button data-method="PATCH" class="btn btn-primary js-tooltip" title="Make a PATCH request on the {{ name }} resource">PATCH</button>
                      {% endif %}
                  </div>
                </fieldset>
              </form>
            {% endwith %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock content %}

{% block script %}
<div id="datalists">
  <datalist id="query-parameter-options"></datalist>
  <datalist id="header-parameter-options">
    <option value="Accept">Accept</option>

  </datalist>
  <datalist id="boolean">
    <option value="true">true</option>
    <option value="false">false</option>
  </datalist>
</div>
<script type="application/json" id="drf_csrf">
  {
    "csrfHeaderName": "{{ csrf_header_name|default:'X-CSRFToken' }}",
    "csrfToken": "{% if request %}{{ csrf_token }}{% endif %}"
  }
</script>
<script>
  const DATASET_URL = "{{ dataset_url }}";
  const HEADERS = ["Allow", "Content-Type", "Content-Crs", "Vary", "X-Pagination-Limit", "X-Pagination-Page", "X-Total-Count", "X-Pagination-Count"];
  // Headers that should be set on page load. (without this the api would return html)
  const DEFAULT_HEADERS = {
    Accept: "*/*"
  }
  const OPERATORS = {
    eq: "=",
    gt: ">",
    gte: ">=",
    lt: "<",
    lte: "<=",
    "in": "in",
    not: "!=",
  }
  const PAGELINKS = {
    PREVIOUS: 0,
    ONE: 1,
    BACK3: 2,
    BACK2: 3,
    BACK1: 4,
    SELF: 5,
    FORWARD1: 6,
    FORWARD2: 7,
    FORWARD3: 8,
    LAST: 9,
    NEXT: 10,
  }
  // max number of extra pagination links shown
  const NUM_EXTRA_PAGES = 4;
  // Default parameters that are not listed in open api spec
  const DEFAULT_PARAMS = {
    "Accept": {
      name: "Accept",
      in: "header",
      description: "",
      examples: {
        any: {
          value: "*/*",
          description: "accept any",
          summary: "Any"
        },
        hal_json: {
          value: "application/hal+json",
          description: "accept HAL JSON",
          summary: "HAL JSON"
        },
      },
      operators: [{
        name: "eq",
        in: "header",
        examples: {
          any: {
            value: "*/*",
            description: "accept any",
            summary: "Any"
          },
          hal_json: {
            value: "application/hal+json",
            description: "accept HAL JSON",
            summary: "HAL JSON"
          },
        },
        schema: { type: "string" }
      }],
      schema: { type: "string" }
    },
    "Authorization": {
      name: "Authorization",
      in: "header",
      description: "",
      examples: {
        any: {
          value: "Bearer ey...",
          description: "bearer token",
          summary: "bearer token"
        },
      },
      operators: [{
        name: "eq",
        in: "header",
        examples: {
          any: {
            value: "Bearer ey...",
            description: "bearer token",
            summary: "bearer token"
          },
        },
        schema: { type: "string" }
      }],
      schema: { type: "string" }
    }
  };
  const CLIENTID = "dso-api-open-api";
  const CLIENTID_ENTRA = "{{ oauth_clientid_entra }}"
  const REDIRECTURI = window.location.origin + "/v1/oauth2-redirect.html";
  const OAUTHURI = "{{ oauth_url }}"
  const AUTHORITY_ENTRA = "{{ oauth_authority_entra }}"
</script>
<script src="{% static "dso_api/dynamic_api/js/browsable_api.js" %}"></script>
<script src="{% static "rest_framework/js/jquery-3.7.1.min.js" %}"></script>
<script src="{% static "rest_framework/js/ajax-form.js" %}"></script>
<script src="{% static "rest_framework/js/csrf.js" %}"></script>
<script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>
{% if response_formatter %}
  <script src="{% static response_formatter  %}"></script>
{% endif %}

<script>
  $(document).ready(function() {
    $('form').ajaxForm();
  });
</script>
{% endblock %}

{% block bootstrap_navbar_variant %}{% endblock %}
