<!doctype html>{% load i18n %}
<html>
<head>
  <title>MVT datasets</title>
  {% block extrahead %}{% endblock %}
</head>
<body>
  <main>
    <h1>Index of datasets supporting Mapbox Vector Tiles (MVT)</h1>

    {% for name, fields, schema in datasets %}
      <h2><a href="{% url 'dynamic_api:mvt-single-dataset' dataset_name=name %}">{% if schema.title %}{{ schema.title }}{% else %}{{ name|title }}{% endif %}</a></h2>
      <ul>
      {% for field in fields %}
        <li><kbd>{{ request.scheme }}://{{ request.get_host }}/v1/mvt/{{ name }}/{{ field }}/{z}/{x}/{y}.pbf</kbd></li>
      {% endfor %}
      </ul>
    {% endfor %}
  </main>
</body>
</html>
