<!doctype html>{% load i18n %}
<html>
<head>
  <title>MVT dataset {% if schema.title %}{{ schema.title }}{% else %}{{ name|title }}{% endif %}</title>
  {% block extrahead %}{% endblock %}
</head>
<body>
  <main>
    <h1>{% if schema.title %}{{ schema.title }}{% else %}{{ name|title }}{% endif %} MVT</h1>
    <p>{% if schema.description %}{{ schema.description }}{% endif %}</p>
    <dl>
      <p>ID: {{ schema.id }}</p>
      <p>Status: {{ schema.status }}</p>
      <p>Openbaar: {{ schema.auth }}</p>
      <p>Licentie: {{ schema.license }}</p>
    </dl> 
      <h2>Gebruik van deze dataset</h2>
        <p>Voeg de volgende urls toe aan uw GIS applicatie:</p>
      <ul>
      {% for table in tables %}
        <li><kbd>{{ request.scheme }}://{{ request.get_host }}{{ request.path }}{{ table }}/{z}/{x}/{y}.pbf</kbd></li>
      {% endfor %}
      </ul>
      <p>Voor de gebruikshandleiding, zie <a href='/v1/docs/generic/gis.html'>Datasets laden in GIS-pakketten</a></p>
      
      <h2>Deze dataset is ook beschikbaar als</h2>
      <ul>
        <li><a href='/v1/docs/datasets/{{ name }}.html'>Rest API</a></li>
        <li><a href='{% url "dynamic_api:wfs" dataset_name=name %}'>WFS kaartlaag</a></li>
      </ul>
    </main>
</body>
</html>
