[flake8]
extend-ignore=
  # Black may add spaces in slice[func(v) : end] syntax
  E203,
  # Black leaves commas after combining lines
  E231,
  # Allow import * (for settings)
  F403,
  F405,
  # Allow lambdas:
  E731,
  # Allow raise Exception()
  R102,
exclude=.git,
        **/migrations/*,
        scripts,
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
max-complexity=8
max-line-length = 99
statistics=True
jobs=1
