[run]
branch = True
omit =
    */migrations/*.py
    settings.py
    tests/*
plugins =
    django_coverage_plugin

[report]
fail_under = 91
exclude_also =
    if "debug_toolbar" in settings.INSTALLED_APPS:
    if settings.DEBUG:
    raise NotImplementedError
    logger
    warnings.warn
    def __getstate__
