[flake8]
ignore=
  # Black leaves commas after combining lines
  #E231,
  # Allow import * (for settings)
  F403,
  F405,
  # Allow lambdas:
  E731,
  # line break before binary operator (incompatible with black):
  W503
exclude=.git,
        .cfg,
        .ini,
        .sh,
        .yml,
        __pycache__,
        migrations,
        docs,
        scripts,
        */settings_commons.py
        */import/*
max-complexity=6
max-line-length = 99
statistics=True
jobs=1
