Django == 3.0.3
django-environ == 0.4.5
django-cors-headers == 3.2.1
django-filter == 2.2.0
django-healthchecks == 1.4.2
django-postgres-unlimited-varchar == 1.1.0
django-gisserver == 0.2
djangorestframework == 3.11.0
djangorestframework-gis == 0.15
amsterdam-schema == 0.1.2
drf-amsterdam == 0.3.2
drf-yasg == 1.17.0
jsonschema == 3.2.0
psycopg2-binary == 2.8.4
python-string-utils == 0.6.0
readerwriterlock == 1.0.6
requests == 2.22.0
sentry-sdk == 0.14.1

# Testing
flake8 == 3.7.9
flake8-blind-except == 0.1.1
flake8-colors == 0.1.6
flake8-debugger == 3.2.1
flake8-raise == 0.0.5
pytest == 5.3.5
pytest-django == 3.8.0
pytest-cov == 2.8.1
