# Base website
-r ./requirements.txt

# Tools for maintaining requirements.txt:
pip-tools == 5.3.1
pur == 5.3.0

# Useful extra developer packages:
pytest-sugar == 0.9.4
termcolor >= 1.1.0  # for pytest-sugar
pre-commit == 2.8.2

# Debugging
django-debug-toolbar == 3.1.1
django-extensions == 3.0.9
