name: Run Pytest
permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
    - features/**
  pull_request:
    branches:
    - main
    - master

jobs:
  docker:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    env:
      INITIALIZE_DB: false

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Start containers
      run: docker compose -f "docker-compose.yml" up -d --build

    - name: Run tests
      run: docker compose exec -T web pytest -v --ds=tests.settings --show-capture=no --cov --cov-report=term:skip-covered --cov-config=.coveragerc

    - name: Stop containers
      if: always()
      run: docker compose -f "docker-compose.yml" down
